/* PROMPT */
body {
  margin: 0; /* This is to leave no margins or 'gaps' */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  position: relative;
}

.modal {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #505050;
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Set a maximum width for the modal content */
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Move the box down by 50% of the parent container's height */
  left: 50%; /* Move the box horizontally by 50% of the parent container's width */
  transform: translate(-50%, -50%); /* Center the box precisely */
  box-sizing: border-box;
  border-radius: 10px;
}

#play-button {
  position: fixed;
  color: white;
  background-color: #ff000000;
  font-size: 25px;
}

.github-link {
  position: fixed;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 38px;
}

#prompt {
  position: fixed;
  top: 10px;
  width: 50%; /* Set a width for the element */
  text-align: center;
  color: orange;
  font-size: 3em;
  font-family: cursive;
}

#credits {
  /* position: fixed;
  top: 70px;
  width: 50%; 
  text-align: center; */
  position: fixed;
  top: 22px;
  left: 67px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: cursive;
}
